<div class="select-container">
    <label for="{{ select-id }}" class="select-label">{{ select-label-text }}</label>

    <select class="select" name="{{ select-name }}" id="{{ select-id }}">
        <option value="">{{ button-value-1 }}</option>
        <option value="{{ button-value-2 }}">{{ button-value-2 }}</option>
    </select>
</div>