<div class="buttons-container">
    <input type="radio" id="{{ input-id-1 }}" name="{{ label-name }}" checked>
    <label for="{{ input-id-1 }}" class="button label">{{ label-text-1 }}</label> 

    <input type="radio" id="{{ input-id-2 }}" name="{{ label-name }}">
    <label for="{{ input-id-2 }}" class="button label">{{ label-text-2 }}</label>
</div>